# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
set_env.bat
deployment/k8s/aws-secret.yaml
deployment/k8s/env-secret.yaml